<div class="about" id="about" #about>
  <div class="about__details">
    <h1 class="about__title">{{title}}<span class="gray">S</span>ilva.</h1>
    <p class="about__paragraph">{{paragraph}}</p>
    <a href="https://docs.google.com/document/d/18CJ66UeT3SOSazgvb7G_e39crXcQbi-2/edit?usp=sharing&ouid=106696477638908142346&rtpof=true&sd=true">
      <button class="btn-primary btn--color">CURRICULO</button>
    </a>
  </div>
  <img class="about__img" src="assets/img/profilePicture.jpg" alt="perfil">
</div>