@import "mixins";
@import "variables";

.about {
  height: 100vh;
  @include flex-container(row);
  background-color: $blue;

  &__details {
    flex-basis: 50%;
    color: $white;
  }

  &__title {
    color: $white;
    font-size: $font-size-h1;
  }

  &__paragraph {
    color: $white;
    font-size: $paragraph;
    margin-bottom: 15px;
  }

  &__img {
    border-radius: 50%;
    height: auto;
    max-width: 250px;
    box-shadow: 10px -10px $box-shadow;
    transition: 1s ease-in;
  }
}

@include mq(sm, max){
  .about {
    &__img {
      max-width: 160px;
      transition: 1s ease;
    }

    &__details {
      flex-basis: 90%;
      @include flex-container(column);
    }
  }
}