<footer class="contato" id="contato">
  <h2 class="contato__title" [@scrollAnimation]="state">Entre em contato</h2>
  <a href="mailto:ssilva.bn@gmail.com" [@scrollAnimation]="state">
    <button class="btn-secondary btn--degrade">CONTATO</button>
  </a>
  <ul class="list" [@scrollAnimation]="state">
    <li class="list__item ">
      <a href="https://github.com/BraianS"><i class="fab fa-github fa-3x "></i></a>
    </li>
    <li class="list__item">
      <a href="https://twitter.com/braiancode"><i class="fab fa-twitter fa-3x"></i></a>
    </li>
  </ul>
  &copy; Copyright 2019
</footer>