<section class="portfolio" id="portfolio" >
  <div class="portfolio__heading" [@scrollAnimation]="state">
    <h2 class="portfolio__title">Portfolio</h2>
  </div>
  <div class="underline"></div>
  <div class="container" >
    <div class="grid"  [@scrollAnimation]="state">
      <figure class="photo photo--wrapper" *ngFor="let portfolio of projectList">
        <img class="photo__img" alt="projeto" [src]="portfolio.img">
        <div class="overlay">
          <h4 class="overlay__title">{{portfolio.title}}</h4>
          <p class="overlay__paragraph">{{portfolio.paragraph}}</p>
          <ul class="list">
            <li class="list__item" *ngFor="let tools of portfolio.tools"><span class="list__tag">{{tools.title}}</span></li>
          </ul>
         <div class="overlay__icon">
          <a class="fab fa-github fa-4x" href="{{portfolio.github}}"></a>
         </div>
        </div>
      </figure>
    </div>
  </div>
</section>