<section class="skill" id="skill">
  <div class="skill__heading" [@scrollAnimation]="state">
    <h2 class="skill_title">O que utilizo?</h2>
    <p class="skill__paragraph ">Ferramentas e tecnologias </p>
  </div>
  <div class="underline"></div>
  <ul class="list" [@scrollAnimation]="state">
    <li class="list__item list--visible "  *ngFor="let skill of skills"><i [class]="skill.icon"></i><span class="list__label ">{{skill.title}}</span>
    </li>

  </ul>
  <p class="skill__paragraph" [@scrollAnimation]="state">Atualmente aprendendo sobre <strong>MICROSERVICES</strong></p>
  <i class="fab fa-angular fa-2x fab--border"></i>
</section>