.btn-primary {
  font-size: 16px;
  width: 200px;
  font-weight: 600;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300px 100%;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
  color: white;

  &:hover {
    background-position: 100% 0;
    transition: all 0.4s ease;
  }
}

.btn-secondary {
  width: 250px;
  height: 70px;
  font-size: 40px;
  border: 8px solid transparent;
  box-sizing: border-box;
  background-color: transparent;
  color: white;
  transition: 1s ease;
}

.btn--color {
  background-image: linear-gradient(to right, #1868fd, #3875e6, #04befe, #3c6fbd);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.btn--degrade {
  border-image: -webkit-linear-gradient(right, #304ffd, #3571f3);
  border-image-slice: 1;
}

.btn--degrade:hover {
  border: none;
  background-image: -webkit-linear-gradient(right, #3078fd, #3568f3);
}