//Colors
$gray21: #363636;
$blue: #1868fd;
$blue-dark: #19317599;
$blue-light: #bbdefb;
$white: #fff;

//Font Size
$font-size-h1: 2.5rem;
$font-size-h2: 2rem;
$font-size-h3: 1.75rem;
$font-size-h4: 1.5rem;
$font-size-h5: 1.25rem;
$font-size-h6: 1rem;

$paragraph: 1rem;
$paragraph-sm: 1.5rem;
$paragraph-lg: 2rem;

$box-shadow: rgba(0, 0, 0, 0.6);
$overlay: rgba(32, 32, 32, 0.75);

//Font
$font-open-serif: "Opens Sans", sans-serif;
$font-roboto: "Roboto";

//Screens for use in media queries
$breakpoints : (
    xs:0, // Extra small screen / phone
    sm:544px, // Small screen / phone
    md:768px, // Medium screen / tablet
    lg:992px, //Large screen / desktop
    xl:1200, // Extra large screen / wide desktop
);