$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

@font-face {
  font-family: Roboto;
  src: url("~roboto-fontface/fonts/roboto/Roboto-Bold.woff") format("woff"),
    url("~roboto-fontface/fonts/roboto/Roboto-Bold.woff2") format("woff");
  src: url("~roboto-fontface/fonts/roboto/Roboto-Regular.woff") format("woff"),
    url("~roboto-fontface/fonts/roboto/Roboto-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import "buttons";
@import "reset";
@import "animations";
@import "variables";

body {
  overflow-x: hidden;
  font-family: $font-roboto;
  box-sizing: border-box;
  height: 100%;
}

.gray {
  color: $gray21;
  font-weight: 700;
}

.underline {
  width: 4rem;
  height: 0.2rem;
  background-color: $blue;
  margin: 20px auto 20px;
}